@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Orbitron&display=swap");

body {
  font-family: "Fira Code", monospace;
  font-size: 120%;
  background-color: #ffffff;
}

.heading {
  margin: 6%;
}

.list {
  margin: 5%;
  list-style-type: none;
}

.list-item {
  margin: 2%;
}

.list-item a {
  text-decoration: none;
}
