:root {
	--bg: #202124;
	--text: #d4d4c9;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

body {
	background-color: var(--bg);
	color: var(--text);
}

.main {
	margin: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.container {
	margin: 40px 0 40px 0;
}
.container.title {
	text-align: center;
}

/* EXP0 ------------------------------- */
.exp0 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.exp0 div {
	padding: 10px;
	width: fit-content;
	height: fit-content;
	border-radius: 3px;
	border: 1px solid #ccf28e;
	margin-top: 20px;
}
.exp0 input[type='range'] {
	width: 200px;
}

/* EXP1 ------------------------------- */
.exp1 button {
	padding: 3px;
	border-radius: 5px;
}

/* EXP2 ------------------------------- */
.exp2 {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.exp2 span:first-child {
	display: block;
}
.exp2 div.input {
	font-size: 2em;
	border: 1px solid black;
	overflow: hidden;
	resize: both;
	width: 360px;
	height: 360px;
	margin-top: 20px;
}
.exp2 img {
	resize: both;
}

/* EXP3 ------------------------------- */
.exp3 {
	border: 1px solid red;
	display: flex;
	flex-direction: column;
}

.exp3 .base {
	width: 15px;
	height: 75px;
	border: 1px solid black;
}
.exp3 .handle-rod {
	width: 5px;
	height: 60px;
	border: 1px solid black;
}
.exp3 .handle {
	width: 40px;
	height: 10px;
	border: 1px solid black;
}

/* EXP4 ------------------------------- */
.exp4 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.exp4 div:first-child {
	margin-bottom: 20px;
}

/* EXP5 ------------------------------- */
.exp5 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.exp5 div:first-child {
	margin-bottom: 20px;
}

/* EXP6 ------------------------------- */

.exp6 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.exp6 .text {
	margin-bottom: 10px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.exp6 button {
	margin-top: 10px;
	cursor: pointer;
}
.exp6 .input {
	display: flex;
	align-items: center;
	justify-content: center;
}
.exp6 .input > div {
	cursor: pointer;
	border: 1px solid #ccf28e;
	padding: 5px;
	margin: 5px;
	border-radius: 3px;
}

/* EXP7 ------------------------------- */
.exp7 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.exp7 .text > div {
	margin-bottom: 10px;
}
.exp7 table {
	margin-top: 15px;
}
.exp7 table span {
	cursor: pointer;
	margin: 5px;
}
