:root {
	--game-window-width: 450px;
	--game-window-height: 700px;

	--sky-height: 600px;
	--ground-height: 100px;
}

* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	background-color: #202124;
	color: #d3d3d3;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.border-left h1 {
	line-height: var(--game-window-height);
	text-align: center;
}

.border-right p {
	line-height: var(--game-window-height);
	text-align: center;
	font-size: 25px;
}

.border-left {
	position: absolute;
	background-color: #202124;
	height: var(--game-window-height);
	z-index: 30;
	left: 0;
	width: calc((100vw - var(--game-window-width)) / 2);
}

.border-right {
	position: absolute;
	background-color: #202124;
	height: var(--game-window-height);
	z-index: 30;
	left: calc(var(--game-window-width) + (100vw - var(--game-window-width)) / 2);
	width: calc((100vw - var(--game-window-width)) / 2);
}

.main {
	height: var(--game-window-height);
	width: var(--game-window-width);
	position: relative;
	left: calc((100vw - var(--game-window-width)) / 2);
}

.sky {
	height: var(--sky-height);
	width: var(--game-window-width);
	background-image: url('assets/sky.png');
}

.ground {
	height: var(--ground-height);
	width: var(--game-window-width);
	background-image: url('assets/bottom.png');
}

.bird {
	background-image: url('assets/bird.png');
	height: 45px;
	width: 60px;
	position: absolute;
	z-index: 21;
}

.pipe {
	background-image: url('assets/pipe.png');
	position: absolute;
	z-index: 20;
}

.pipe.top {
	transform: scaleY(-1);
}

.overlay {
	position: absolute;
	top: 280px;
	width: var(--game-window-width);
	height: 40px;
	z-index: 22;
	text-align: center;
	color: #000;
	font-size: 20px;
	display: none;
}
